@tailwind base;
@tailwind components;
@tailwind utilities;

/*Custom scrollbar*/
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #888;
}

::-webkit-scrollbar-thumb:hover {
  background: #f7770f;
}

.side {
    @apply duration-200 flex gap-2 items-center hover:bg-blue-700 hover:text-gray-50 p-2 rounded w-full bg-base-200;
}

.course-card{
    @apply w-full hover:scale-95 transition overflow-hidden sm:max-w-[250px] border border-gray-200 rounded-lg shadow;
}
